---
title: همراهان ما
description: برخی از شرکت هایی که افتخار همراهی و همکاریشان را داریم.
image: /images/handshake-1.jpg
customers:
  - name: اد پورتال
    logo: /images/customers/adportal.png
    link: http://adportal.ir/
  - name: آشپزباشی
    logo: /images/customers/ashpazbashy.jpg
    link: https://ashpazbashy.com/
  - name: انجمن اوتیسم ایران
    logo: /images/customers/irautism.png
    link: http://www.irautism.org/
  - name: دیجی کالا مگ
    logo: /images/customers/digikalamag.jpg
    link: https://www.digikala.com/mag/
  - name: گلدایران آکادمی
    logo: /images/customers/goldiran_academy.jpg
    link: #
  - name: موبیرو
    logo: /images/customers/mobiro.png
    link: http://mobiro.ir/
  - name: پرگار
    logo: /images/customers/pargar.jpg
    link: http://pargar.ir/
  - name: پیام گو
    logo: /images/customers/pgae.png
    link: http://www.pgae.ir/
  - name: خانه ای بی
    logo: /images/customers/eb-home.jpg
    link: http://eb-home.ir/
  - name: فناوری اطلاعات توسعه سامان
    logo: /images/customers/ts.jpg
    link: https://ts.co.ir/
  - name: ویدانما
    logo: /images/customers/vidanama.jpg
    link: https://www.vidanama.com/
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="text-container">
			<h2 class="editable">همراهان ما</h2>
			<p class="subtext editable">برخی از شرکت هایی که افتخار همراهی و همکاریشان را داریم.</p>
			<div class="flex" style="flex-wrap: wrap;">
			{% for customer in page.customers %}
				<a href="{{ customer.link }}"><img style="height: 6rem; width: auto; padding: 0.3rem;" src="{{ customer.logo }}" title="{{ customer.name }}" alt="{{ customer.name }}"></a>
			{% endfor %}
			</div>
		</div>
	</div>
</section>
