---
title: همراهان ما
description: برخی از شرکت هایی که افتخار همراهی و همکاریشان را داریم.
image: /images/handshake-1.jpg
customers:
  - name: اد پورتال
    logo: /images/customers/adportal_ir.png
    link: http://adportal.ir/
  - name: انجمن اوتیسم ایران
    logo: /images/customers/irautism_org.png
    link: http://www.irautism.org/
  - name: گلدایران آکادمی
    logo: /images/customers/goldiran.png
    link: #
  - name: موبیرو
    logo: /images/customers/mobiro_ir.png
    link: http://mobiro.ir/
  - name: پرگار
    logo: /images/customers/pargar_ir.png
    link: http://pargar.ir/
  - name: پروتِــیل
    logo: /images/customers/protail_ir.png
    link: http://protail.ir/
  - name: آوا توسعه فناوری ارتباطات
    logo: /images/customers/ava_tosee.png
    link: http://avatosee.ir/
  - name: پیام گو
    logo: /images/customers/pgae_ir.png
    link: http://www.pgae.ir/
  - name: آشپزباشی
    logo: /images/customers/ashpazbashy_com.png
    link: https://ashpazbashy.com/
  - name: خانه ای بی
    logo: /images/customers/eb-home_ir.png
    link: http://eb-home.ir/
  - name: ویدانما
    logo: /images/customers/vidanama.png
    link: https://www.vidanama.com/
  - name: الارو
    logo: /images/customers/ellaro_ir.png
    link: http://ellaro.ir
  - name: فیتیلیو
    logo: /images/customers/fitilio_com.png
    link: http://fitilio.com
  - name: ایران الکامپ
    logo: /images/customers/iran-elecomp_com.png
    link: http://iran-elecomp.com
  - name: کارینا
    logo: /images/customers/karinaco_com.png
    link: http://karinaco.com
  - name: کارنا
    logo: /images/customers/karnna_ir.png
    link: http://karnna.ir
  - name: مدرسه آشپزی
    logo: /images/customers/madrese_ashpazy.png
    link: #
  - name: مامی فود
    logo: /images/customers/mamifood_org.png
    link: http://mamifood.org
  - name: داده پرداز متین
    logo: /images/customers/matin_co.png
    link: http://matin.co
  - name: نوتاش
    logo: /images/customers/nutash_com.png
    link: http://nutash.com
  - name: شرکت پرهام
    logo: /images/customers/parham-co_ir.png
    link: http://parham-co.ir
  - name: مدرسه روباتیک امیرکبیر
    logo: /images/customers/roboschool_aut_ac_ir.png
    link: http://roboschool.aut.ac.ir
  - name: ویدیوتو
    logo: /images/customers/vidioto.png
    link: https://t.me/vidioto
  - name: یارا موبایل
    logo: /images/customers/yaramobile_com.png
    link: http://yaramobile.com
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %}); height: auto;">
	<div class="inner-hero text-container">
		<div class="text-container">
			<h2 class="editable" style="padding-top: 4rem;">همراهان ما</h2>
			<p class="subtext editable">برخی از شرکت هایی که افتخار همراهی و همکاریشان را داریم.</p>
			<div class="flex" style="flex-wrap: wrap;">
			{% for customer in page.customers %}
				<a href="{{ customer.link }}"><img style="height: 6rem; width: auto; padding: 0.3rem 0.3rem 0;" src="{{ customer.logo }}" title="{{ customer.name }}" alt="{{ customer.name }}"></a>
			{% endfor %}
			</div>
		</div>
	</div>
</section>
