---
title: خانه
description: شرکت آوا ویانا آرتا ارائه دهنده خدمات دوبله، تولید فایلهای صوتی، زیر نویس، کتاب صوتی، موشن گرافیک، تولید ویدوهای تبلیغاتی، ویدیوهای صنعتی، عکس برداری صنعتی، نریشن، و تمامی خدمات صوتی و تصویری در تمام حوزه ها
image: /images/firstpage.jpg
bottom_image: /images/firstpage2.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">امروز برد تبلیغاتتان را گسترش دهید</h1>
			<p class="subtext editable">شرکت آوا ویانا آرتا ارائه دهنده خدمات دوبله، تولید فایلهای صوتی، زیر نویس، کتاب صوتی، موشن گرافیک، تولید ویدوهای تبلیغاتی، ویدیوهای صنعتی، عکس برداری صنعتی، نریشن، و تمامی خدمات صوتی و تصویری در تمام حوزه ها</p>
			<div class="cta button alt"><a href="/contact/">تماس</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">اطلاعات بیشتر<span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<!-- <h1 class="editable">مزایای محتواهای صوتی و تصویری به محتواهای متنی</h1> -->
				<h2 class="editable">علاقه مندی بیشتر به محتواهای صوتی و تصویری در میان مخاطبان</h2>
				<p class="editable">در حال حاضر مخاطبان سایتها و شبکه های اجتماعی علاقه بیشتری به محتواهای تصویری و صوتی نسبت به محتواهای متنی نشان داده و آنها را در میان دوستان خود نشر میدهند. آمارها نشان دهنده آن است که مخاطبان متنهای طولانی را بسیار کمتر مطالعه می کنند این درحالیست که فایلهای صوتی و تصویری را بارها مشاهده نموده و برای افراد دیگر نیز به نمایش می گذارند.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">انحصاری بودن فایلهای صوتی و تصویری</h2>
				<p class="editable">متاسفانه در شبکه های مجازی سرقت محتواهای متنی و نشر آن با عناوین دیگران بسیار رایج است، این اتفاق در فایلهای صوتی و تصویری به علت درج شدن نام و نشان تولید کننده در ویدیو و اعلام آن در فایلهای صوتی امکان پذیر نیست. این امر باعث میشود که حتی اگر محتوای شما در حال پخش از مجاری دیگری در شبکه های مجازی و سایتها باشد مخاطب از منبع آن مطلع شده و جهت دیدن و یا شنیدن دیگر محتواهای شما به خود شما مراجعه نماید.</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">تاثیر گذاری بیشتر</h2>
				<p class="editable">مزیت مهم محتواهای صوتی و تصویری تاثیر گذاری آنها از طریق درگیر کردن حس بینایی و شنیداری مخاطبان بسیار بالاتر بوده و با توجه به آنکه انسانهای مختلف از طرق مختلفی با موضوعات درگیر شده و به خاطر میسپارند، استفاده از محتواهای صوتی و تصویری این تضمین را به شما میدهد که مخاطبانتان در هر دسته ای که باشند با محتوای شما ارتباط کامل تری برقرار نمایند</p>
			</div>
			<div class="image">
				<img class="editable" src="http://placehold.it/650x1300" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">علاقه مند به همکاری هستید؟</h2>
				<p class="subtext editable">خدمات شرکت آوا ویانا آرتا و مزایای همکاری با ما را برای کسب و کار خود ببینید:</p>
				<div class="cta button alt"><a href="/services/">خدمات</a></div>
			</div>
		</div>
	</section>
</div>
